PORT=8000

APP_NAME="Online Grocery App: Beyond Market"

DATABASE_URL=postgresql://user:password@localhost:5432/mydatabase?schema=public

AUTH_JWT_SECRET=your_jwt_secret_key

FE=http://localhost:3000

SUPABASE_URL=your-supabase-project-url
SUPABASE_ANON_KEY=your-supabase-anon-key

NODEMAILER_USER=your-email@gmail.com
NODEMAILER_PASS=your-app-password

SECRET_KEY=your nodemailer secret key

CLOUDINARY_NAME=your cloudinary name
CLOUDINARY_KEY=your cloudinary key
CLOUDINARY_SECRET=your cloudinary secret key

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret